<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
    <head>  
        <title>Hello World!</title>  
    </head>  
    <body>  
        <h1 th:inline="text">Hello.v.2</h1> 
        <p th:text="${hello}"></p>  
        
        <div>
        	获取session中的值:
        	<p th:text="${session.userId}">${session.userId}</p>
        	<p th:text="${#httpServletRequest.getParameter('userName')}">这个方法接收的是地址栏里的参数，后台request.setAttribute("userName", "fuck")无效</p>
        	
        	
        	<p th:text="${userName}">这种方式直接取后台request里的参数</p>
        </div>
        
        <div>
        	
        	<p th:text="${param.z}">z  这个是一个对象数组  [Ljava.lang.String;@b7f630a</p>
        	
        	
        	<p th:text="${param.z[0]}" th:unless="${param.z} == null">z[0]</p>
        	unless写法可以避免出现空异常
        
        </div>
        
        
        <div>
        	url表达式：
        	<p>
        		<a href="/" th:href="@{/a}">点击</a>
        	</p>
        
        </div>
        
        <div>
        	对象：
        	<table>
        		<tr th:object="${obj}">
        			<td th:text="${obj.a}"></td>
        			<td th:text="${obj.b}"></td>
        			<td th:text="${obj.c}"></td>
        		</tr>
        	</table>
        	
        	另一种写法：
        	<div th:object="${obj}" >
        		<strong th:text="*{a}"></strong>
        		<strong th:text="*{b}"></strong>
        		<strong th:text="${obj.c}"></strong>
        	</div>
        	
        </div>
        
        <div>
        	遍历集合：
        	<table>
        		<tr th:each="collect,iterStat : ${list}">
        			<td th:text="${iterStat.index}"></td>
        			<td th:text="${iterStat.count}"></td>
        			<td th:text="${collect}"></td>
        		</tr>
        	</table>
        </div>
    </body>  
</html> 